<header>
	<!---carosel---->
	<div class="carousel slide" id="caroselimg" data-ride="carousel">
		<ul class="carousel-indicators" type="circle">
			<li data-target="#caroselimg" data-slide-to="0" class="active"></li>
			<li data-target="#caroselimg" data-slide-to="1"></li>
			<li data-target="#caroselimg" data-slide-to="2"></li>
		</ul>
		<div class="carousel-inner">
			<div>
				<div class="carousel-item active" *ngFor="let i of caroActive">
					<img src="{{i.imgurl}}">
					<div class="carousel-caption">
						<h1>{{i.title}}</h1>
						<button type="button" class="btn btn-outline-light btn-lg">
							{{i.btn}}
						</button>
						<button type="button" class="btn btn-secondary btn-lg">
							{{i.btn2}}
						</button>
					</div>
				</div>
				<div class="carousel-item" *ngFor="let i of Carosel">
					<img src="{{i.imgurl}}">
					<div class="carousel-caption">
						<h1>{{i.title}}</h1>
						<button type="button" class="btn btn-outline-light btn-lg">
							{{i.btn}}
						</button>
						<button type="button" class="btn btn-success btn-lg">
							{{i.btn2}}
						</button>
					</div>
				</div>
			</div>
		</div>
		<a class="carousel-control-prev" href="#caroselimg" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon"></span>
		</a>
		<a class="carousel-control-next" href="#caroselimg" role="button" data-slide="next">
			<span class="carousel-control-next-icon"></span>
		</a>
	</div>
</header>
<article>
	<div class="container-fluid">
		<h1 id="menu">GET FOOD FAST <span> &mdash; </span> NOT FAST FOOD.</h1>
		<p>Hello, we’re Omnifood, your new premium food delivery service. We know you’re always busy. No time for
			cooking. So let us take care of that, we’re really good at it, we promise!</p>
		<h1><span>&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;</span></h1>
		<!-- list product -->
		<div class="row">
			<div class="col-lg-3 col-md-6 p-1 a" *ngFor="let i of listProduct">
				<div class="cardanh card">
					<img src="{{i.ImageUrl}}" class="img">
					<div class="card-img-overlay">
						<h1 class="card-title" routerLink="/MENU/{{i.Id}}" (click)="detail(i)"> {{i.ProName}}<br>{{i.Price}}$
						</h1>
						<button (click)="order(i)" type="button" class="btn btn-outline-light btn-lg"
							style="color: white"><a>Order</a></button>
					</div>
				</div>
			</div>
		</div>
		<h1 id="city">WE'RE CURRENTLY IN THESE CITIES</h1>
		<h1><span>&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;</span></h1>
		<!-- list location -->
		<div class="row">
			<div class="card card-body col-lg-3 col-md-6 c" *ngFor="let i of listLocalSafe">
				<img src="{{i.image}}">
				<!-- dung attr de them data-target -->
				<button class="btn btn-link" type="button" data-toggle="collapse" attr.data-target="#{{i.id}}"
					aria-expanded="true">
					<h4 id="h"> {{i.name}}</h4>
				</button>
				<div class="collapse" id="{{i.id}}">
					<p>{{i.content1}}</p>
					<p>{{i.content2}}</p>
					<!-- url loi  -->
					<p><iframe [src]="i.local" width="250" height="250" frameborder="0" style="border:0;" allowfullscreen=""
							aria-hidden="false" tabindex="0"></iframe></p>
				</div>
			</div>
		</div>
		<h1 id="ideal1">WE'RE HAPPY TO HEAR FROM YOU</h1>
		<h1><span>&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;</span></h1>
		<div class="row" id="ideal">
			<div class="card">
				<div class="card-header">
					<i class="fas fa-lightbulb-on"></i> YOUR IDEAL HERE:
				</div>
				<form [formGroup]="contactForm" (ngSubmit)="onSubmit(contactForm)">
					<div class="card-body">
						<div class="form-group">
							<label for="NAMEX">YOUR NAME:</label>
							<input type="text" class="form-control" id="NAME" values="" placeholder="Name" formControlName="fullname">
							<p id="fn"></p>
						</div>
						<div class="form-group">
							<label for="E-MAIL">E-MAIL:</label>
							<input type="text" class="form-control" id="E-MAIL" values="" placeholder="E-mail" formControlName="mail">
							<p id="em"></p>
						</div>
						<div class="form-group">
							<label for="PHONE">YOUR PHONE NUMBER:</label>
							<input type="text" class="form-control" id="PHONE" values="" placeholder="Phone" formControlName="phone">
							<p id="ph"></p>
						</div>
						<div class="form-group">
							<label for="SAOBIT">HOW DO YOU KNOW US ?</label>
							<select class="form-control" id="SAOBIT" formControlName="info">
								<option value="Friend">Friend</option>
								<option value="Internet">Internet</option>
								<option value="Advertisement">Advertisement</option>
								<option value="Other">Other </option>
							</select>
						</div>
						<div class="form-group">
							<label for="Ghichu">NOTE:</label>
							<textarea class="form-control" id="Ghichu" placeholder="Note (If you have)" rows="3" formControlName="content"></textarea>
						</div>
						<div class="text-center">
							<button class="btn btn-yellow form-control col-4 font-weight-bold ml-4" type="submit">Submit</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</article>