.body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../../assets/image/874749.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-size: 20px;
}


header h1 {
    line-height: 400px;
    font-size: 100px;
    text-align: center;
    min-height: 400px;
    color: white;
}

article {
    min-height: 500px;
    background: rgba(254, 253, 253, 1.00)
}

article .container-fluid h1 {
    text-align: center;

    font-size: 60px;
}

article .container-fluid span {
    color: #E5A04A;
    font-weight: bold;
    font-size: 60px
}

article .row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

article .row .a {
    padding-left: 12.5%;
    padding-right: 12.5%
}

article .row .cardanh {
    border: hidden;
}

article .row .cardanh .card-body .anh {
    width: 100%;
    height: 300px;

}

article .row .btn {
    text-decoration: none;
    color: black !important;
}

article .row .btn:hover {
    color: #E5A04A !important;

}

article .row .btn a {
    text-decoration: none;
    color: black !important;
}

article .row .btn a:hover {
    color: #E5A04A !important;

}

article .card-body {
    text-align: center;
}

article .card-body p {
    font-size: 20px;
}

article .container-fluid .btn-group {
    margin-left: auto;
    margin-right: auto;

}